VAULT_CONTRACT_ADDRESS=5F8ykW4bse6kUHi65XqAzSfrrgKHDXXEBoReUZmUVc7r8q3A
AUCTION_CONTRACT_ADDRESS=5Djyz3DAsL6HyZGBFKNK7fdaMP2Q21hn5sdPhigpHdcfGZ1a
TOKEN_CONTRACT_ADDRESS=5GjL2MKErF9ocXZBZZFueoWgf8wAnY1gcgLkDMj2bTsAsg6g
ORACLE_CONTRACT_ADDRESS=5GcaftCj1psi5489Dp8RiL5UmMsbRMf9XsfNrDMMsfM5hFoB
COLDKEY_PASSWORD=your_coldkey_password
DATABASE_URL=sqlite:///tensorusd.db
CMC_API_KEY=your_coinmarketcap_api_key

PRICE_SUBMISSION_INTERVAL=21600 # 6 hours
PRICE_MONITOR_INTERVAL=60 # 1 min
PRICE_CHANGE_THRESHOLD=0.017 # 1.7%
PRICE_PROVIDER=coinmarketcap



## AGENT ENVs
TENSORUSD_SN_BACKEND_URL=
TENSORUSD_NETUID=113
BITTENSOR_NETWORK=
