VAULT_CONTRACT_ADDRESS=5Gg9M2BBG4goA9upeo9CeNLreZsp99yooLQnfJ66DHUh6ukq
AUCTION_CONTRACT_ADDRESS=5GH4CWAxxzCwQzMcWDmm5a1mfv7FrXYKbCUpRJHfc3PzDNMo
TOKEN_CONTRACT_ADDRESS=5D9hs8uoaKc3tiaCMkoMJXacZGKPF1RCEoRVR8Jz4p9maRSu
WALLET_PASSWORD=