VAULT_CONTRACT_ADDRESS=5EGwePBjwkBa2FWrx3ayfiDBJLmu9uhSwnEhCaxEFnhzNioD
AUCTION_CONTRACT_ADDRESS=5DKY7mT7oP6HejKMp3qSHkR7h9gkGC9wPKwwVgrhM7NaKuL1
TOKEN_CONTRACT_ADDRESS=5HUhm9DBnL3MMjcXYXgBWKntTDdJj2Bvbt1a1jRTYDZYz9YE
ORACLE_CONTRACT_ADDRESS=5GNJ3mvT13L2UVSrAK9utS41Wt2eoq6BVkWwG16wZi3QNJ15
COLDKEY_PASSWORD=your_coldkey_password
DATABASE_URL=sqlite:///tensorusd.db
CMC_API_KEY=your_coinmarketcap_api_key

PRICE_SUBMISSION_INTERVAL=21600 # 6 hours
PRICE_MONITOR_INTERVAL=300 # 5 mins
PRICE_CHANGE_THRESHOLD=0.017 # 1.7%
PRICE_PROVIDER=coinmarketcap



## AGENT ENVs
TENSORUSD_SN_BACKEND_URL=
TENSORUSD_NETUID=
BITTENSOR_NETWORK=
